


  <main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>あなたの注目は？</h1>
      <p class="lead text-muted">あなたの注目している商品、レア度の高い商品、コラボアイテムなどの情報発見、発信しよう！！</p>
      <p>
        <% if user_signed_in? %>
        <a href="/tweets/new" class="btn btn-primary my-2">投稿する</a>
        <a href="/users/<%= current_user.id %>" class="btn btn-secondary my-2">マイページ</a>
        <% else %>
        <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary my-2' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-secondary my-2' %>
        <% end %>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% @tweets.each do |tweet| %>
         <%= render partial: "tweet", locals: { tweet: tweet } %>
        <% end %>
      </div>
      <%= paginate(@tweets) %>
    </div>
  </div>

</main>