<div class="success">
<div class="album py-5 bg-light">
<div class="container">
  <h2>投稿</h2>
<%= form_for @tweet do |f| %>

  <div class="field">
    <p><%= f.label :商品名 %></p>
    <p><%= f.text_field :product_name %></p>
  </div>

  <div class="field">
    <p><%= f.label :価格 %></p>
    <p><%= f.text_field :price %></p>
  </div>

  <div class="field">
    <p><%= f.label :販売詳細 %></p>
    <p><%= f.text_area :sale %></p>
  </div>

  <div class="field">
    <p><%= f.label :画像 %></p>
    <p><%= f.file_field :image %></p>
  </div>

  <div class="actions">
    <p><%= f.submit :投稿%></p>
  </div>
<% end %>
</div>
</div>
</div>